$icon-discount-path1: "\e61d";
$icon-discount-path2: "\e621";
$icon-discount-path3: "\e622";
$icon-discount-path4: "\e623";
$icon-city: "\e61b";
$icon-curved-arrow: "\e61c";
$icon-heart: "\e61e";
$icon-hotel2: "\e61f";
$icon-info: "\e620";
$icon-next: "\e619";
$icon-prev: "\e61a";
$icon-location: "\e618";
$icon-like: "\e617";
$icon-load: "\e616";
$icon-calendar: "\e612";
$icon-chevron-left: "\e613";
$icon-chevron-right: "\e614";
$icon-close: "\e615";
$icon-android: "\e600";
$icon-apartment: "\e601";
$icon-aviasales: "\e602";
$icon-decstop: "\e603";
$icon-expand: "\e604";
$icon-facebook: "\e605";
$icon-free: "\e606";
$icon-googpl: "\e607";
$icon-hostel: "\e608";
$icon-hotel: "\e609";
$icon-iphone: "\e60a";
$icon-mobile: "\e60b";
$icon-plus: "\e60c";
$icon-quest: "\e60d";
$icon-search: "\e60e";
$icon-star: "\e60f";
$icon-twitter: "\e610";
$icon-vk: "\e611";
